<% layout('layout/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Add PET</h1>
        <div class="col-sm-6 offset-sm-3">
            <form action="/pet" method="POST" novalidate class='needs-validation'>
                <div class='mb-3'>
                    <label class='form-label' for="title">Title</label>
                    <input class="form-control" type="text" name="pet[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>



                <div class='mb-3'>
                    <label class='form-label' for="image">Image URL</label>
                    <input class="form-control" type="text" name="pet[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class='form-label' for="price">Price</label>
                    <div class="input-group ">
                        <span class="input-group-text" id="basic-addon1">฿</span>
                        <input type="number" class="form-control" placeholder="0.00" id="price " name="pet[price]"
                            aria-describedby="basic-addon1" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class='form-label' for="stock">Stock</label>
                    <div class="input-group ">

                        <input type="number" class="form-control" id="stock" name="pet[stock]"
                            aria-describedby="basic-addon1" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                    <select class="form-select" id="inputGroupSelect01" name="pet[gender]" required>
                        <% for (let gender of genders) {%>
                            <option>
                                <%=gender %>
                            </option>
                            <% } %>

                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add Pet</button>
                </div>
            </form>

            <footer>
                <a class="nav-link" href="/">BACK TO ALL PETS</a>
            </footer>
        </div>